<ion-header>
  <ion-navbar>
    <button menuToggle *ngIf="!selectedStudent">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf="selectedStudent">{{selectedStudent.title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <div *ngFor="let weekday of weeklySchedule">
      <ion-item (click)="toggleWeekday(weekday)">
	<ion-icon name="add"></ion-icon>
	&nbsp; {{ weekday.title }}
      </ion-item>
      <div *ngIf="isWeekdayShown(weekday)">
	<ion-item *ngFor="let scheduledHour of weekday.schedule">
	  {{ scheduledHour }}
	</ion-item>
      </div>
    </div>
  </ion-list>

  <ion-fab right bottom>
    <button ion-fab color="primary" (click)="addNewHour($event)"><ion-icon name="add"></ion-icon></button>
  </ion-fab>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>10|11|12|13</ion-title>
  </ion-toolbar>
</ion-footer>
