<ion-header>
  <ion-navbar>
    <button menuToggle *ngIf="!selectedStudent">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf="selectedStudent">{{selectedStudent.title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <button ion-item *ngFor="let item of weekDays" (click)="itemTapped($event, item)">
      {{item}}
    </button>
  </ion-list>

  <ion-fab right bottom>
    <button ion-fab color="primary" (click)="addNewHour($event)"><ion-icon name="add"></ion-icon></button>
  </ion-fab>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>10|11|12|13</ion-title>
  </ion-toolbar>
</ion-footer>
