<ion-header>
  <ion-navbar>
    <button menuToggle *ngIf="!selectedStudent">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf="selectedStudent">Study Hours for {{selectedStudent.fullName()}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content >
  <ion-list>
    <div *ngFor="let weekday of weeklySchedule">
      <ion-item (click)="toggleWeekday(weekday)">
        <ion-icon name="add"></ion-icon>
        &nbsp; {{ weekday.title }}
      </ion-item>
      <div *ngIf="isWeekdayShown(weekday)">
        <div *ngFor="let scheduledHour of weekday.schedule">
          <ion-item>
            {{ scheduledHour }}
          </ion-item>
        </div>
      </div>
    </div>
  </ion-list>

  <ion-fab right bottom>
    <button ion-fab color="primary" (click)="addNewHour($event)">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>

<ion-footer class="footer-bar-custom">
  <ion-toolbar>
    <ion-buttons>
      <button ion-button icon-only small class="footer-bar-item item-left" (click)="previousWeek()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>

      <button ion-button icon-only small class="footer-bar-item item-right" (click)="nextWeek()">
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-buttons>

    <div class="footer-bar-item item-center">
      {{ weekString }}
    </div>
  </ion-toolbar>
</ion-footer>
