<ion-menu id="professor" [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
      </button>
      <button ion-item (click)="logout()">
        Logout
      </button>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-menu id="student" [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
      </button>
      <button ion-item (click)="logout()">
        Logout
      </button>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav #myNav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
