<ion-header>
  <ion-navbar>
    <button ion-button menuToggle *ngIf="!selectedStudent">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf="selectedStudent">Horas de estudo do(a) {{selectedStudent.fullName()}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content >
  <ion-list *ngIf="studyWeek">
    <div *ngFor="let weekday of studyWeek.studyDays">
      <ion-item (click)="toggleWeekday(weekday)">
        <ion-icon name="add" *ngIf="!weekday.isEmpty()"></ion-icon>
        {{ weekday.getDayName() }}
      </ion-item>
      <div *ngIf="isWeekdayShown(weekday)">
        <div *ngFor="let studyHour of weekday.studyHours">
          <ion-card>
            <ion-card-header>
              {{studyHour.description}}
              <ion-badge item-end class="unstarted-label" *ngIf="!studyHour.isStarted()">
                Por Começar
              </ion-badge>

              <ion-badge item-end color="secondary" class="started-label" *ngIf="studyHour.isStarted() && !studyHour.isComplete()">
                Começada
              </ion-badge>

              <ion-badge item-end color="secondary" class="started-label" *ngIf="studyHour.isComplete()">
                Terminada
              </ion-badge>
            </ion-card-header>

            <ion-card-content>
              <h3>{{studyHour.formattedDateTimeInfo()}}</h3>
              <h5>Duração: {{studyHour.durationInMinutes()}} minutos</h5>
            </ion-card-content>

            <ion-row no-padding>

              <span *ngIf="!studyHour.isStarted()">
                <ion-col >
                  <button ion-button clear small color="default" icon-start (click)="markAsStarted(studyHour)">
                    <ion-icon name='play'></ion-icon>
                    Começar
                  </button>
                </ion-col>
              </span>

              <span *ngIf="studyHour.isStarted() && !studyHour.isComplete()">
                <ion-col text-center >
                  <button ion-button clear small color="default" icon-start (click)="markStudyHourAsCompleted(studyHour)">
                    <ion-icon name='checkmark-circle'></ion-icon>
                    Terminar
                  </button>
                </ion-col>
              </span>
            </ion-row>
          </ion-card>
        </div>
      </div>
    </div>
  </ion-list>
</ion-content>

<ion-footer class="footer-bar-custom">
  <ion-toolbar>
    <ion-buttons>
      <button ion-button icon-only small class="footer-bar-item item-left" (click)="previousWeek()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>

      <button ion-button icon-only small class="footer-bar-item item-right" (click)="nextWeek()">
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-buttons>

    <div class="footer-bar-item item-center">
      {{ weekString }}
    </div>
  </ion-toolbar>
</ion-footer>
